@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
@font-face {
  font-family: "Georgia";
  src: url("../fonts/georgiai.ttf") format("ttf");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, p, figure, picture {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

img, picture {
  display: block;
  max-width: 100%;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

input, textarea, select {
  font: inherit;
}

input, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

button, input {
  overflow: visible;
}

a {
  text-decoration: none;
}

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #333;
  background: #fff;
  overflow-x: hidden;
  max-width: 1920px;
  min-height: 100vh;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.calculator {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 80px;
}
@media (max-width: 1100px) {
  .calculator {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.calculator__left {
  height: 100%;
  padding-right: 50px;
  width: 100%;
  max-width: 720px;
}
@media (max-width: 1100px) {
  .calculator__left {
    max-width: 100%;
    padding-right: 0;
  }
}
.calculator__left .left-box {
  width: 100%;
  height: 100%;
  margin-bottom: 70px;
}
.calculator__left .left-box h2 {
  font-size: 16px;
  color: #333;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 500;
}
@media (max-width: 720px) {
  .calculator__left .left-box {
    margin-bottom: 50px;
  }
  .calculator__left .left-box h2 {
    font-size: 12px;
  }
}
.calculator__left__description {
  width: 100%;
  height: 100%;
  margin-bottom: 70px;
}
.calculator__left__description h1 {
  font-family: "Georgia", serif;
  font-size: 24px;
  color: #80594F;
  font-weight: normal;
  font-style: italic;
  margin-bottom: 30px;
}
.calculator__left__description p {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: #333;
  margin-bottom: 20px;
  font-weight: 400;
}
.calculator__left__description p:last-child {
  margin: 0;
}
@media (max-width: 720px) {
  .calculator__left__description {
    margin-bottom: 50px;
  }
  .calculator__left__description h1 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .calculator__left__description p {
    font-size: 12px;
    margin-bottom: 15px;
  }
}
.calculator__left .design__slider {
  width: 100%;
  height: auto;
}
.calculator__left .design .design-slide {
  padding: 14px;
  border: 1px solid #80594F;
  height: 270px;
  overflow: hidden;
  position: relative;
  width: 300px;
  margin: auto;
}
@media (max-width: 1100px) {
  .calculator__left .design .design-slide {
    width: auto;
    margin: 0 10px;
  }
}
.calculator__left .design .design-slide::before {
  content: "";
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #80594F;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: 1px solid #ffffff;
}
.calculator__left .design .design-slide img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.calculator__left .design .design-slide__prise {
  position: absolute;
  bottom: 14px;
  right: 14px;
  left: 14px;
  width: calc(100% - 28px);
  height: 45px;
  background-color: rgba(255, 246, 231, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Georgia", serif;
  font-size: 22px;
  color: #333;
  font-weight: normal;
  font-style: italic;
  text-align: center;
}
.calculator__left .design .design-slide__prise span {
  margin-right: 7px;
}
@media (max-width: 1100px) {
  .calculator__left .design .design-slide__prise {
    font-size: 16px;
  }
}
.calculator__left .filling__slider {
  width: 100%;
  height: auto;
}
.calculator__left .filling .design-slide {
  padding: 14px;
  border: 1px solid #80594F;
  height: 270px;
  overflow: hidden;
  position: relative;
  width: 300px;
  margin: auto;
}
@media (max-width: 1100px) {
  .calculator__left .filling .design-slide {
    width: auto;
    margin: 0 10px;
  }
}
.calculator__left .filling .design-slide::before {
  content: "";
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #80594F;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: 1px solid #ffffff;
}
.calculator__left .filling .design-slide img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.calculator__left .filling .design-slide__prise {
  position: absolute;
  bottom: 14px;
  right: 14px;
  left: 14px;
  width: calc(100% - 28px);
  height: 45px;
  background-color: rgba(255, 246, 231, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Georgia", serif;
  font-size: 20px;
  color: #333;
  font-weight: normal;
  font-style: italic;
  text-align: center;
  cursor: pointer;
  padding: 0 5px;
}
@media (max-width: 1100px) {
  .calculator__left .filling .design-slide__prise {
    font-size: 16px;
  }
}
.calculator__left .filling .design-slide__prise span {
  margin-right: 5px;
}
.calculator__left .filling .design-slide__prise svg {
  opacity: 0.5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  fill: #80594F;
  width: 20px;
  height: 20px;
}
.calculator__left .filling .design-slide__prise:hover svg {
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.calculator__left .cream-color .change-color {
  cursor: pointer;
  display: inline-block;
  height: 30px;
  width: 30px;
}
.calculator__left .layer__box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 720px) {
  .calculator__left .layer__box {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 20px auto;
    grid-template-columns: auto auto;
    -ms-grid-rows: auto 20px auto;
    grid-template-rows: auto auto;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    row-gap: 20px;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
  }
  .calculator__left .layer__box > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .calculator__left .layer__box > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .calculator__left .layer__box > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .calculator__left .layer__box > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
}
.calculator__left .layer__box .radio {
  width: 100%;
  margin-right: 20px;
  padding: 14px;
  border: 1px solid #80594F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.calculator__left .layer__box .radio__title {
  margin-top: 10px;
  font-family: "Georgia", serif;
  font-size: 15px;
  color: #333;
  font-weight: normal;
  font-style: italic;
  text-align: center;
  width: 100%;
}
@media (max-width: 720px) {
  .calculator__left .layer__box .radio__title {
    font-size: 14px;
  }
}
.calculator__left .layer__box .radio:last-child {
  margin-right: 0;
}
.calculator__left .layer__box .custom-radio-box {
  width: 100%;
  height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.calculator__left .layer__box .custom-radio-box span {
  z-index: 3;
  text-align: center;
  font-family: "Georgia", serif;
  font-size: 22px;
  color: #59433e;
  font-weight: normal;
  font-style: italic;
  position: relative;
}
@media (max-width: 720px) {
  .calculator__left .layer__box .custom-radio-box span {
    font-size: 18px;
  }
}
.calculator__left .layer__box .custom-radio-box img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0.5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  /*filter: blur(1px);*/
}
.calculator__left .layer__box .custom-radio > .custom-radio-box::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.calculator__left .layer__box .custom-radio > input:checked + .custom-radio-box span {
  color: #ffffff;
}
.calculator__left .layer__box .custom-radio > input:checked + .custom-radio-box img {
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.calculator__left .layer__box .custom-radio > input:checked + .custom-radio-box::after {
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.calculator__left .tier__box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.calculator__left .tier__box .select-box {
  margin-right: 40px;
}
.calculator__left .tier__box .select-box .select {
  max-width: 300px;
  width: 300px;
  outline: 0;
  background: #ffffff;
  border: 1px solid #80594F;
  padding: 4px;
  font-family: "Georgia", serif;
  font-size: 20px;
  color: #333;
  font-weight: normal;
  font-style: italic;
  text-align: center;
}
.calculator__left .tier__box .select-box .select option {
  text-align: center;
}
@media (max-width: 720px) {
  .calculator__left .tier__box .select-box .select {
    font-size: 14px;
  }
}
.calculator__left .tier__box ul {
  width: 50%;
}
.calculator__left .tier__box ul li {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #333;
  font-weight: 400;
  margin-bottom: 5px;
}
@media (max-width: 720px) {
  .calculator__left .tier__box ul li {
    font-size: 12px;
  }
}
@media (max-width: 720px) {
  .calculator__left .tier__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .calculator__left .tier__box .select-box {
    margin-right: 0;
  }
  .calculator__left .tier__box ul {
    width: 100%;
    margin-bottom: 15px;
  }
}
.calculator__left .weight__box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.calculator__left .weight__box .select-box {
  margin-right: 40px;
}
.calculator__left .weight__box .select-box .select {
  max-width: 300px;
  width: 300px;
  outline: 0;
  background: #ffffff;
  border: 1px solid #80594F;
  padding: 4px;
  font-family: "Georgia", serif;
  font-size: 20px;
  color: #333;
  font-weight: normal;
  font-style: italic;
  text-align: center;
}
.calculator__left .weight__box .select-box .select option {
  text-align: center;
}
@media (max-width: 720px) {
  .calculator__left .weight__box .select-box .select {
    font-size: 14px;
  }
}
.calculator__left .weight__box__description {
  width: 50%;
}
.calculator__left .weight__box__description p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #333;
  font-weight: 400;
  margin-bottom: 20px;
}
@media (max-width: 720px) {
  .calculator__left .weight__box__description p {
    font-size: 12px;
    margin-bottom: 15px;
  }
}
.calculator__left .weight__box__description p:last-child {
  margin: 0;
}
@media (max-width: 720px) {
  .calculator__left .weight__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .calculator__left .weight__box .select-box {
    margin-right: 0;
  }
  .calculator__left .weight__box__description {
    width: 100%;
    margin-bottom: 15px;
  }
}
.calculator__left .self-design__box {
  width: 100%;
  height: 200px;
  border: 1px dashed #80594F;
  padding: 14px;
  position: relative;
}
.calculator__left .self-design__box__inner {
  width: 100%;
  height: 100%;
  background: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.calculator__left .self-design__box__inner__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.calculator__left .self-design__box__inner__content svg {
  margin-bottom: 30px;
}
.calculator__left .self-design__box__inner__content span {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #333;
  margin-bottom: 20px;
  font-weight: 400;
}
@media (max-width: 720px) {
  .calculator__left .self-design__box__inner__content span {
    font-size: 14px;
  }
}
.calculator__right {
  position: sticky;
  top: 25px;
  height: auto;
  min-width: 340px;
  background-color: #ADB38E;
  padding: 14px;
}
@media (max-width: 720px) {
  .calculator__right {
    min-width: auto;
  }
}
@media (max-height: 799px) {
  .calculator__right {
    position: static;
  }
}
.calculator__right__box {
  border: 1px solid #ffffff;
  width: 100%;
  height: 100%;
  padding: 15px 20px 10px 20px;
  position: relative;
}
.calculator__right__box__icon {
  position: absolute;
  bottom: -48px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
.calculator__right__box__title {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 25px;
}
.calculator__right__box__title__text {
  font-size: 48px;
  font-family: "Georgia", serif;
  color: #333;
  font-weight: normal;
  font-style: italic;
}
@media (max-width: 720px) {
  .calculator__right__box__title__text {
    font-size: 40px;
  }
}
.calculator__right__box input {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px dotted #80594F;
  font-family: "Georgia", serif;
  font-size: 16px;
  color: #80594F;
  font-weight: normal;
  font-style: italic;
  margin-bottom: 25px;
  margin-top: 5px;
  text-align: left;
}
@media (max-width: 720px) {
  .calculator__right__box input {
    font-size: 15px;
  }
}
.calculator__right__box input:focus {
  outline: none;
  border: none;
  border-bottom: 1px dotted #80594F;
}
.calculator__right__box label {
  font-family: "Georgia", serif;
  font-size: 15px;
  color: #333;
  font-weight: normal;
  font-style: italic;
}
@media (max-width: 720px) {
  .calculator__right__box label {
    font-size: 14px;
  }
}
.calculator__right__box p {
  font-family: "Georgia", serif;
  font-size: 15px;
  color: #333;
  font-weight: normal;
  font-style: italic;
  margin-bottom: 25px;
}
@media (max-width: 720px) {
  .calculator__right__box p {
    font-size: 14px;
  }
}
.calculator__right__box .radio {
  max-width: 100%;
  width: 100%;
  text-align: left;
  margin-top: 7px;
}
.calculator__right__box .radio:first-child {
  margin-top: 15px;
}
.calculator__right__box .custom-radio-box {
  width: 100%;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  padding-left: 25px;
}
.calculator__right__box .custom-radio-box span {
  text-align: center;
  font-family: "Georgia", serif;
  font-size: 15px;
  color: #333;
  font-weight: normal;
  font-style: italic;
  position: relative;
}
.calculator__right__box .custom-radio > .custom-radio-box::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border: 1px solid #80594F;
  border-radius: 50%;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.calculator__right__box .custom-radio > input:checked + .custom-radio-box::before {
  background-color: #80594F;
}
.calculator__right__box button {
  width: 100%;
  margin-top: 25px;
  height: 45px;
  cursor: pointer;
  border: 1px solid #80594F;
  background: rgb(98, 69, 61);
  text-transform: uppercase;
  font-family: "Georgia", serif;
  font-size: 17px;
  color: #ffffff;
  font-weight: normal;
  font-style: italic;
  text-align: center;
  padding: 0;
  position: relative;
}
.calculator__right__box button:hover div {
  opacity: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.calculator__right__box button div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #80594F;
  z-index: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.calculator__right__box button span {
  z-index: 3;
  color: #ffffff;
}
.calculator__right__box__description {
  margin-top: 20px;
}
.calculator__right__box__description a {
  color: #80594F;
  text-decoration: underline;
}

.design__slider .slick-slide.slick-current .design-slide::before {
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.design__slider .slick-slide.slick-current .design-slide img {
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.filling__slider .slick-slide.slick-current .design-slide::before {
  opacity: 1;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}
.filling__slider .slick-slide.slick-current .design-slide img {
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.color-picker-box {
  width: 100%;
  height: 200px;
  border: 1px solid #80594F;
  padding: 14px;
  position: relative;
}

.color-picker {
  position: absolute;
  width: calc(100% - 28px);
  height: 172px;
  font-family: "Georgia", serif;
  font-size: 20px;
  color: #333;
  font-weight: normal;
  font-style: italic;
  text-align: center;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 720px) {
  .color-picker {
    font-size: 14px;
  }
}

.color-picker__control--a {
  display: none;
}

.custom-radio > input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-radio > .custom-radio-box {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.modal-box-filling {
  padding: 20px 30px;
  text-align: center;
}
.modal-box-filling h2 {
  font-family: "Georgia", serif;
  font-size: 24px;
  color: #80594F;
  font-weight: normal;
  font-style: italic;
  margin-bottom: 30px;
}
.modal-box-filling p {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: #333;
  margin-bottom: 20px;
  font-weight: 400;
}

.slick-prev::before, .slick-next::before {
  color: #80594F;
}

.slick-prev {
  left: -15px;
}

.slick-next {
  right: -15px;
}

.slick-dots li {
  margin: 0;
}

.slick-dots li.slick-active button:before {
  color: #80594F;
}

input[type=date]::-webkit-calendar-picker-indicator {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="%2380594F" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
  cursor: pointer;
}