@import "fonts";
@import "reset";
@import "global";
@import "mixins";
@import "vars";

//________________________________________________________________________________________________________index

.calculator {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 80px;
  @media (max-width: 1100px) {
    flex-wrap: wrap;
  }

  &__left {
    height: 100%;
    padding-right: 50px;
    width: 100%;
    max-width: 720px;
    @media (max-width: 1100px) {
      max-width: 100%;
      padding-right: 0;
    }

    & .left-box {
      width: 100%;
      height: 100%;
      margin-bottom: 70px;

      & h2 {
        font-size: 16px;
        color: #333;
        text-transform: uppercase;
        margin-bottom: 30px;
        font-weight: 500;
      }

      @media (max-width: 720px) {
        margin-bottom: 50px;
        & h2 {
          font-size: 12px;
        }
      }
    }

    &__description {
      width: 100%;
      height: 100%;
      margin-bottom: 70px;

      & h1 {
        font-family: 'Georgia', serif;
        font-size: 24px;
        color: #80594F;
        font-weight: normal;
        font-style: italic;
        margin-bottom: 30px;
      }

      & p {
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        color: #333;
        margin-bottom: 20px;
        font-weight: 400;

        &:last-child {
          margin: 0;
        }
      }

      @media (max-width: 720px) {
        margin-bottom: 50px;
        & h1 {
          font-size: 20px;
          margin-bottom: 20px;
        }

        & p {
          font-size: 12px;
          margin-bottom: 15px;
        }
      }
    }

    & .design {

      &__slider {
        width: 100%;
        height: auto;
      }

      & .design-slide {
        padding: 14px;
        border: 1px solid #80594F;
        height: 270px;
        overflow: hidden;
        position: relative;
        width: 300px;
        margin: auto;
        @media (max-width: 1100px) {
          width: auto;
          margin: 0 10px;
        }

        &::before {
          content: '';
          position: absolute;
          top: 20px;
          right: 20px;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background-color: #80594F;
          opacity: 0;
          transition: 0.5s;
          border: 1px solid #ffffff;
        }

        & img {
          object-fit: cover;
          width: 100%;
          height: 100%;
          opacity: 0.6;
          transition: 0.3s;
        }

        &__prise {
          position: absolute;
          bottom: 14px;
          right: 14px;
          left: 14px;
          width: calc(100% - 28px);
          height: 45px;
          background-color: rgba(255, 246, 231, 0.6);
          @include flex-center;
          font-family: 'Georgia', serif;
          font-size: 22px;
          color: #333;
          font-weight: normal;
          font-style: italic;
          text-align: center;
          @media (max-width: 1100px) {
            font-size: 16px;
          }
        }
      }
    }

    & .filling {

      &__slider {
        width: 100%;
        height: auto;
      }

      & .design-slide {
        padding: 14px;
        border: 1px solid #80594F;
        height: 270px;
        overflow: hidden;
        position: relative;
        width: 300px;
        margin: auto;
        @media (max-width: 1100px) {
          width: auto;
          margin: 0 10px;
        }

        &::before {
          content: '';
          position: absolute;
          top: 20px;
          right: 20px;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background-color: #80594F;
          opacity: 0;
          transition: 0.5s;
          border: 1px solid #ffffff;
        }

        & img {
          object-fit: cover;
          width: 100%;
          height: 100%;
          opacity: 0.6;
          transition: 0.3s;
        }

        &__prise {
          position: absolute;
          bottom: 14px;
          right: 14px;
          left: 14px;
          width: calc(100% - 28px);
          height: 45px;
          background-color: rgba(255, 246, 231, 0.7);
          @include flex-center;
          font-family: 'Georgia', serif;
          font-size: 20px;
          color: #333;
          font-weight: normal;
          font-style: italic;
          text-align: center;
          cursor: pointer;
          padding: 0 5px;
          @media (max-width: 1100px) {
            font-size: 16px;
          }

          & span {
            margin-right: 5px;
          }

          & svg {
            opacity: 0.5;
            transition: 0.3s;
            fill: #80594F;
            width: 20px;
            height: 20px;
          }

          &:hover {
            & svg {
              opacity: 1;
              transition: 0.3s;
            }
          }
        }
      }
    }

    & .cream-color {

      & .change-color {
        cursor: pointer;
        display: inline-block;
        height: 30px;
        width: 30px;
      }
    }

    & .layer {

      &__box {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @media (max-width: 720px) {
          display: grid;
          grid-template-columns: auto auto;
          grid-template-rows: auto auto;
          column-gap: 20px;
          row-gap: 20px;
          justify-content: stretch;
        }

        & .radio {
          width: 100%;
          margin-right: 25px;
          padding: 14px;
          border: 1px solid #80594F;
          display: flex;
          flex-direction: column;
          text-align: center;
          justify-content: center;

          &__title {
            margin-top: 10px;
            font-family: "Georgia", serif;
            font-size: 15px;
            color: #333;
            font-weight: normal;
            font-style: italic;
            text-align: center;
            width: 100%;
            @media (max-width: 720px) {
              font-size: 14px;
            }
          }

          &:last-child {
            margin-right: 0;
          }
        }

        & .custom-radio-box {
          width: 100%;
          height: 130px;
          @include flex-center;
          position: relative;
          cursor: pointer;
          overflow: hidden;

          & span {
            z-index: 3;
            text-align: center;
            font-family: 'Georgia', serif;
            font-size: 22px;
            color: #59433e;
            font-weight: normal;
            font-style: italic;
            position: relative;
            @media (max-width: 720px) {
              font-size: 18px;
            }
          }

          & img {
            position: absolute;
            object-fit: cover;
            width: 100%;
            height: 100%;
            z-index: 0;
            opacity: 0.5;
            transition: 0.3s;
            /*filter: blur(1px);*/
          }
        }

        & .custom-radio > .custom-radio-box::after {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          background-color: rgba(0, 0, 0, 0.1);
          z-index: 1;
          opacity: 0;
          transition: 0.3s;
        }

        & .custom-radio > input:checked + .custom-radio-box {
          & span {
            color: #ffffff;
          }
        }

        & .custom-radio > input:checked + .custom-radio-box {
          & img {
            opacity: 1;
            transition: 0.3s;
          }

          &::after {
            opacity: 1;
            transition: 0.3s;
          }
        }
      }
    }

    & .tier {

      &__box {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        & .select-box {
          margin-right: 40px;

          & .select {
            max-width: 300px;
            width: 300px;
            outline: 0;
            background: #ffffff;
            border: 1px solid #80594F;
            padding: 4px;
            font-family: 'Georgia', serif;
            font-size: 20px;
            color: #333;
            font-weight: normal;
            font-style: italic;
            text-align: center;

            & option {
              text-align: center;
            }

            @media (max-width: 720px) {
              font-size: 14px;
            }
          }
        }

        & ul {
          width: 50%;

          & li {
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
            color: #333;
            font-weight: 400;
            margin-bottom: 5px;
            @media (max-width: 720px) {
              font-size: 12px;
            }
          }
        }

        @media (max-width: 720px) {
          flex-direction: column-reverse;
          & .select-box {
            margin-right: 0;
          }
          & ul {
            width: 100%;
            margin-bottom: 15px;
          }
        }
      }
    }

    & .weight {

      &__box {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;


        & .select-box {
          margin-right: 40px;

          & .select {
            max-width: 300px;
            width: 300px;
            outline: 0;
            background: #ffffff;
            border: 1px solid #80594F;
            padding: 4px;
            font-family: 'Georgia', serif;
            font-size: 20px;
            color: #333;
            font-weight: normal;
            font-style: italic;
            text-align: center;

            & option {
              text-align: center;
            }

            @media (max-width: 720px) {
              font-size: 14px;
            }
          }
        }

        &__description {
          width: 50%;

          & p {
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
            color: #333;
            font-weight: 400;
            margin-bottom: 20px;
            @media (max-width: 720px) {
              font-size: 12px;
              margin-bottom: 15px;
            }

            &:last-child {
              margin: 0;
            }
          }
        }

        @media (max-width: 720px) {
          flex-direction: column-reverse;
          & .select-box {
            margin-right: 0;
          }
          &__description {
            width: 100%;
            margin-bottom: 15px;
          }
        }
      }
    }

    & .self-design {

      &__box {
        width: 100%;
        height: 200px;
        border: 1px dashed #80594F;
        padding: 14px;
        position: relative;

        &__inner {
          width: 100%;
          height: 100%;
          background: #fafafa;
          @include flex-center;

          &__content {
            @include flex-center;
            flex-direction: column;

            & svg {
              margin-bottom: 30px;
            }

            & span {
              font-family: 'Montserrat', sans-serif;
              font-size: 16px;
              color: #333;
              margin-bottom: 20px;
              font-weight: 400;
              @media (max-width: 720px) {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }

  &__right {
    height: 100%;
    min-width: 340px;
    background-color: #ADB38E;
    padding: 14px;
    @media (max-width: 720px) {
      min-width: auto;
    }

    &__box {
      border: 1px solid #ffffff;
      width: 100%;
      height: 100%;
      padding: 15px 20px 25px 20px;
      position: relative;

      &__icon {
        position: absolute;
        bottom: -48px;
        left: 50%;
        transform: translate(-50%, 0);
      }

      &__title {
        margin: 0 auto;
        text-align: center;
        margin-bottom: 30px;

        &__text {
          font-size: 48px;
          font-family: 'Georgia', serif;
          color: #333;
          font-weight: normal;
          font-style: italic;
          @media (max-width: 720px) {
            font-size: 40px;
          }
        }
      }

      & input {
        width: 100%;
        background-color: transparent;
        border: none;
        border-bottom: 1px dotted #80594F;
        font-family: 'Georgia', serif;
        font-size: 16px;
        color: #80594F;
        font-weight: normal;
        font-style: italic;
        margin-bottom: 30px;
        margin-top: 7px;
        text-align: right;
        @media (max-width: 720px) {
          font-size: 15px;
        }

        &:focus {
          outline: none;
          border: none;
          border-bottom: 1px dotted #80594F;
        }
      }

      & label {
        font-family: 'Georgia', serif;
        font-size: 15px;
        color: #333;
        font-weight: normal;
        font-style: italic;
        @media (max-width: 720px) {
          font-size: 14px;
        }
      }

      & p {
        font-family: 'Georgia', serif;
        font-size: 15px;
        color: #333;
        font-weight: normal;
        font-style: italic;
        margin-bottom: 30px;
        @media (max-width: 720px) {
          font-size: 14px;
        }
      }

      & .radio {
        max-width: 100%;
        width: 100%;
        text-align: left;
        margin-top: 7px;

        &:first-child {
          margin-top: 15px;
        }
      }

      & .custom-radio-box {
        width: 100%;
        position: relative;
        cursor: pointer;
        overflow: hidden;
        padding-left: 25px;

        & span {
          text-align: center;
          font-family: 'Georgia', serif;
          font-size: 15px;
          color: #333;
          font-weight: normal;
          font-style: italic;
          position: relative;
        }
      }

      & .custom-radio > .custom-radio-box::before {
        content: '';
        position: absolute;
        width: 15px;
        height: 15px;
        border: 1px solid #80594F;
        border-radius: 50%;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
      }

      & .custom-radio > input:checked + .custom-radio-box::before {
        background-color: #80594F;
      }

      & button {
        width: 100%;
        margin-top: 30px;
        height: 45px;
        cursor: pointer;
        border: 1px solid #80594F;
        background: #80594F;
        text-transform: uppercase;
        font-family: "Georgia", serif;
        font-size: 17px;
        color: #ffffff;
        font-weight: normal;
        font-style: italic;
        text-align: center;
      }

      &__description {
        margin-top: 20px;

        & a {
          color: #80594F;
          text-decoration: underline;
        }
      }
    }
  }
}

.design__slider .slick-slide.slick-current .design-slide {
  &::before {
    opacity: 1;
    transition: 0.5s;
  }

  & img {
    opacity: 1;
    transition: 0.5s;
  }
}

.filling__slider .slick-slide.slick-current .design-slide {
  &::before {
    opacity: 1;
    transition: 0.8s;
  }

  & img {
    opacity: 1;
    transition: 0.3s;
  }
}

.color-picker-box {
  width: 100%;
  height: 200px;
  border: 1px solid #80594F;
  padding: 14px;
  position: relative;
}

.color-picker {
  position: absolute;
  width: calc(100% - 28px);
  height: 172px;
  font-family: 'Georgia', serif;
  font-size: 20px;
  color: #333;
  font-weight: normal;
  font-style: italic;
  text-align: center;
  cursor: pointer;
  @include flex-center;
  @media (max-width: 720px) {
    font-size: 14px;
  }
}

.color-picker__control--a {
  display: none;
}

.custom-radio > input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-radio > .custom-radio-box {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.modal-box-filling {
  padding: 20px 30px;
  text-align: center;

  & h2 {
    font-family: 'Georgia', serif;
    font-size: 24px;
    color: #80594F;
    font-weight: normal;
    font-style: italic;
    margin-bottom: 30px;
  }

  & p {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #333;
    margin-bottom: 20px;
    font-weight: 400;
  }
}

.slick-prev::before, .slick-next::before {
  color: #80594F;
}

.slick-prev {
  left: -15px;
}

.slick-next {
  right: -15px;
}